<div class="card shadow border-0 my-5 m-5 pb-5">
    <div class="card-header bg-black bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Список замовленнь</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>      
        </div>

        <table id="orderTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>                  
                    <th>Ім'я</th>
                    <th>Email</th>
                    <th>Статус замовлення</th>
                    <th>Сумма замовлення</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="/js/order4.js"></script>
}