






<div class="container mt-4">
    <h1>Про нас</h1>
    <p>Ласкаво просимо в  <span style="font-style:oblique">Obliq</span><i class="bi bi-arrow-through-heart"></i> Ми прагнемо надавати найновіші та найкращі моделі моди. Наша мета - зробити так, щоб ви виглядали і відчували себе якнайкраще.</p>

    <p>Ось деякі з речей, які ми пропонуємо:</p>

    <ul>
        <li>100% Оригінальний одяг</li>
        <li>Вчасна доставка</li>
        <li>Знижка на 2 другу покупку</li>  
    </ul>

    <p>Дякую що обрали наш магазин <i class="bi bi-balloon-heart"></i></p>
</div>
